<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <h2>Plase enter your request</h2>
    <div>
        <form action="http://localhost:3000/v1/character/" method="POST">
          <input type="text" name='name'>
          <select name="title" id="">
            <option value="SleepingBeauty">SleepingBeauty</option>
            <option value="Nut Cracker">Nut Cracker</option>
            <option value="Swan Lake">Swan Lake</option>
            <option value="Dragon Quest">Dragon Quest</option>
            <option value="La Sylphide">La Sylphide</option>
          </select>
          <select name="type" id="">
            <option value="human">human</option>
            <option value="bird">bird</option>
            <option value="fairy">fairy</option>
            <option value="sweets">sweets</option>
          </select><br>
          <input type="submit">

        </form>
        patch
        <form action="http://localhost:3000/v1/character/:name" method="POST">
          <input type="hidden" name="_method" value="PUT"> <!-- この1行を追加！ -->
          <input type="text" name='name'>
          <select name="title" id="">
            <option value="SleepingBeauty">SleepingBeauty</option>
            <option value="Nut Cracker">Nut Cracker</option>
            <option value="Swan Lake">Swan Lake</option>
            <option value="Dragon Quest">Dragon Quest</option>
            <option value="La Sylphide">La Sylphide</option>
          </select>
          <select name="type" id="">
            <option value="human">human</option>
            <option value="bird">bird</option>
            <option value="fairy">fairy</option>
            <option value="sweets">sweets</option>
          </select><br>
          <input type="submit">

        </form>
        delete
        <form action="http://localhost:3000/v1/character/:name" method="POST">
          <input type="hidden" name="_method" value="DELETE"> <!-- この1行を追加！ -->
          <input type="text" name='name'>
          <select name="title" id="">
            <option value="SleepingBeauty">SleepingBeauty</option>
            <option value="Nut Cracker">Nut Cracker</option>
            <option value="Swan Lake">Swan Lake</option>
            <option value="Dragon Quest">Dragon Quest</option>
            <option value="La Sylphide">La Sylphide</option>
          </select>
          <select name="type" id="">
            <option value="human">human</option>
            <option value="bird">bird</option>
            <option value="fairy">fairy</option>
            <option value="sweets">sweets</option>
          </select><br>
          <input type="submit">
        </form>
    </div>
    <p>result is ...</p>
    <div>
      <table>
        <%for(const ele of content){%>
          <tr>
            <td><%=ele.id%></td>
            <td><%=ele.name%></td>
            <td><%=ele.type_value%></td>
            <td><%=ele.title_value%></td>
          </tr>
        <%}%>
      </table>
    </div>
  </body>
</html>
